//resolutions
$tablets: 925px;
$phones: 480px;
$sm_phones: 320px;
@import "layout/media.scss";

// config
@import "config/mixins.scss";
@import "config/variables.scss";
@import "config/func.scss";

// layout

@import "layout/base.scss";
@import "layout/ajustments.scss";
@import "layout/fonts.scss";


//sections/common

@import "sections/common/common.scss";

//sections/head

@import "sections/head/head.scss";
@import "sections/head/header.scss";
@import "sections/head/hamburger.scss";

//sections/about
@import "sections/about/about.scss";

//sections/burgers
@import "sections/burgers/burgers.scss";
@import "sections/burgers/burgers_ingredients.scss";
@import "sections/burgers/burgers_ccal.scss";


//sections/team
@import "sections/team/team.scss";
@import "sections/team/team_acco.scss";

//sections/menu
@import "sections/menu/menu.scss";
@import "sections/menu/menu_acco.scss";

//sections/reviews
@import "sections/reviews/reviews.scss";

//sections/order
@import "sections/order/order.scss";
@import "sections/order/order_form.scss";

//sections/map
@import "sections/map/map.scss";

//sections/footer
@import "sections/footer/footer.scss";