.map {
    height: calc(100vh - 70px);
    width: 100%;
    @include phones {
        height: calc(100vh - 100px);
    }
}

.map__hint {
    color: $black;
    font-family: Gagalin;
    
}

.map__balloon-title {
    color: $black;
    font-family: Gagalin;
    margin-top: rem(6px);
    
}

.map__balloon-desc {
    color: $black;
    font-size: rem(15px);
}