.map {
    flex: 1;
    width: 100%;
}

.map__hint {
    color: $black;
    font-family: Gagalin;
    
}

.map__balloon-title {
    color: $black;
    font-family: Gagalin;
    margin-top: rem(6px);
    
}

.map__balloon-desc {
    color: $black;
    font-size: rem(15px);
}