.burgers {
    // background: url("../img/bg/bg-burgers.jpg") center center no-repeat;
    // background-size: cover;
    background: linear-gradient(to top, $orange, #eb8c38, $orange);
    position: relative;
}

.burgers__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.burgers__content {
    width: 100vw;
    // height: auto;
    overflow: hidden; //как сделать, чтоб не скрывал по высоте?? убрать совсем??
}

.burgers__list {
    display: flex;
    
}

.burgers__item {
    width: 80vw;
    margin: 0 10vw;
}

.burgers__item-content {
    
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        height: initial;
    }
}

.burgers__main {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        margin-top: rem(80px);
    }

}
.burgers__pic  {
    width: 50vw;
    max-width: 530px;
    margin-right: 10px;
    @include tablets {
        width: 60vw;
        margin-bottom: rem(20px);
    }
    @include phones {
        width: 80vw;
    }
}

.burgers__img {
    width: 100%;
    @include tablets {
       
    }
}


.burgers__info {
    width: 30vw;
    @include tablets {
        width: 80vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.burgers__text {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.burgers__section-title {
    line-height: 1;
    @include tablets {
        width: 70vw;
    }
    @include phones {
        width: 90vw;
        margin-bottom: 20px;
    }
}

.burgers__desc {
    margin-bottom: 40px;
    @include phones {
        margin-bottom: 20px;
    }
}

.burgers__order {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    @include tablets {
        justify-content: center;
    }
}

.burgers__price {
    color: $red;
    font-family: "Gagalin";
    font-size: rem(72px);
    line-height: 0.5;
    
    span {
        font-size: rem(30px);
        margin-right: 40px;
    }
    @include phones {
        span {
            margin-right: 12px;
        }
    }

}





.burgers__slider-controls {
    position: absolute;
    left: 4vw;
    top: 48vh;
    display: flex;
    justify-content: space-between;
    width: 90vw;

}

.burgers__slider-controlslink {
    &:first-child {
        transform: rotate(90deg);

    }
    &:last-child {
        transform: rotate(-90deg);
        
    }
}

.slider-controls__icon {
    height: 5vh;
    width: 5vh;
    
}