.burgers {
    // background: url("../img/bg/bg-burgers.jpg") center center no-repeat;
    // background-size: cover;
    background: linear-gradient(to top, $orange, #eb8c38, $orange);
    position: relative;
}

.burgers__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.burgers__content {
   
    
}

.burgers__list {
    width: 80vw;
    display: flex;
    align-items: center;
}

.burgers__item {
    width: 80vw;
    margin: 0 3vw;
}

.burgers__item-content {
    
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        height: initial;
    }
}

.burgers__main {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        margin-top: rem(80px);
    }
    @include sm_phones {
        margin-top: rem(30px);
    }

}
.burgers__pic  {
    width: 50vw;
    max-width: 500px;
    
    margin-right: 15px;
    @include tablets {
        width: 60vw;
        margin-bottom: rem(20px);
        margin-right: 0px;
    }
    @include phones {
        width: 80vw;
    }
}

.burgers__img {
    width: 100%;
    @include tablets {
       
    }
}


.burgers__info {
    width: 33vw;
    @include tablets {
        width: 80vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.burgers__text {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.burgers__section-title {
    line-height: 1;
    @include tablets {
        width: 70vw;
    }
    @include phones {
        
        margin-bottom: 20px;
    }
    @include sm_phones {
        width: 80vw;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.burgers__desc {
    margin-bottom: 40px;
    @include phones {
        margin-bottom: 20px;
    }
}

.burgers__order {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    @include tablets {
        justify-content: center;
    }
}

.burgers__price {
    color: $red;
    font-family: "Gagalin";
    font-size: rem(72px);
    line-height: 0.5;
    
    span {
        font-size: rem(30px);
        margin-right: 40px;
    }
    @include phones {
        span {
            margin-right: 12px;
        }
    }

}





.burgers__slider-controls {
    position: absolute;
    left: 4vw;
    top: 48vh;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}



.slider-controls__icon {
    height: 5vh;
    width: 5vh;
    cursor: pointer;
}

#slider-prev {
    transform: rotate(90deg);
}

#slider-next {
    transform: rotate(-90deg);
}