.footer {
    background: url("../img/bg/bg-order.jpg") center center no-repeat;
    background-size: cover;
    
}

.footer__container {
    padding: 1vw 2vw;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contacts {
    font-style: normal;
    text-decoration: none;
    @include phones {
        max-width: 43%;
    }
}

.footer__address {
    margin-bottom: rem(3px);
}

.footer__phone {
    color: $red;
}

.footer__phone-link {
    text-decoration: none;
    font-weight: 700;
    color: $red;
}
.footer__phone-icon {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(10px);
}

.footer__socials-list {
    display: flex;
    align-items: center;
}

.footer__socials-item {
    margin-left: rem(22px);
}

.footer__socials-link {
    display: inline-block;
    opacity: .3;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
    
    
}

.footer__socials-icon {
    width: rem(23px);
    height: rem(23px);
    
    
}