.menu {
    background: url("../img/bg/bg-menu.jpg") center center no-repeat;
    background-size: cover;
}

.menu__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    // z-index: 100;
}

.menu__section-title {
    position: absolute;
    top: 10vh;
    left: 8vw;
    
}