.menu__acco-list {
    display: flex;

    

}

.menu__acco-item {
    width: 60vw;
    height: 100vh;
    position: relative;
    background-color: rgba($black, 0.7);


    

}

.menu__acco-pic {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 15%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-color: black;
    opacity: 0.7;
    
    z-index: 0;
    


}

.menu__acco-content {
    z-index: 10;
    display: flex;
    
}



.menu__acco-link {
    width: 15%;
}

.menu__acco-title {
    font-family: Gagalin;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    display: block;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    
    
}

.menu__acco-desc {
    

}