.menu {
    background: url("../img/bg/bg-menu.jpg") center center no-repeat;
    background-size: cover;
}
.menu__container {
    position: relative;
}

.menu__content {
    display: flex;
    justify-content: flex-end;
}

.menu__section-title {
    position: absolute;
    top: 10vh;
    left: 8vw;
    @include sm_phones {
        transform: rotate(-90deg);
        top: 60px;
        left: -20px;
    }
}