.menu__acco-list {
    display: flex;
    

    

}

$trigger-width: 80px;


.menu__acco-item {
    width: $trigger-width;
    height: 100vh;
    min-height: 650px;
    background-color: rgba($black, 0.93);
    display: flex;
    
    &_active {
        width: 50vw;
        .menu__acco-title {
            color: $orange;
        }
        .menu__acco-content {
            display: initial;
        }
    }

}



.menu__acco-trigger {
    width: $trigger-width;
    position: relative;
    background-color: rgba(#000, 0.93);
}






.menu__acco-pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    
}




.menu__acco-title {
    font-family: Gagalin;
    font-size: 40px;
    color: #fff;
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 70vh;
    padding-top: 10px;
    padding-left: 35px;
    
    
    
    
}

.menu__acco-content {
    flex: 1;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    display: none;
}