.wrapper {
    position: relative;
    // зачем всегда позишн релатив на враппер?
    width: 100%;
    // min-width: 940px + 20px; 
    // ??
    min-height: 100%;
    overflow: hidden;
    // чтобы не было гориз скрола
    background-color: $black;
  
  }

.section {
    height: 100vh; //не растягивается, даже есл не влезает содержимое :ООО//
    min-height: 650px;
  }

.container {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 1%  0;
    //или как сделать отступ от верха?? или вообще не тут? % vh px что лучше?
    display: flex;
    flex-direction: column;
    
    
}

.container__content-in-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.button {
    display: inline-block;
    background-color: $red;
    border-radius: rem(5px);
    padding: rem(8px) rem(17px);
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    transition: 300ms;
    &:hover {
        background-color: $dark-red;
    }
}

.section-title {
    font-family: 'Gagalin', sans-serif;
    font-size: rem(72px);
    color: $orange;
    margin-bottom: rem(40px);
    &_marg {
        &_small {
            margin-bottom: rem(15px);
        }
    }
    &_color {
        &_black {
            color: $black;
        }
        &_white {
            color: #fff;
        }
    }
}

.fixed-menu {
    position: fixed;
    top: rem(20px);
    right: rem(20px);
}

.fixed-menu__link {
    
    width: rem(17px);
    height: rem(17px);
    border-radius: 50%;
    border: 1px #fff solid;
    margin-bottom: rem(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fixed-menu__link--active {
    &:before {
        content: "";
        width: rem(7px);
        height: rem(7px);
        background: #fff;
        border-radius: 50%;
        display: block;

    }
}


.godown-btn {
    position: fixed;
    bottom: rem(15px);
    right: 50%; //как сделать по центру на позишн фиксд? 
}

.godown-btn__icon {
    width: rem(27px);
    height: rem(27px);
    
    
}



.icon {
    &_color {
        &_red {
            fill: $red;
            
        }
        &_orange {
            fill: $orange;
        }
        &_green {
            fill: $green;
        }
        &_white {
            fill: #fff;
        }
    }
}
