.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;    // чтобы не было гориз скрола
    background-color: $black;

    height: 100%; // one page scroll
  
  }

.main-content {
    height: 100%;
    min-height: 650px;
    position: relative;
    transition: 1s;
    will-change: transform;
  }

.section {
    height: 100vh; //не растягивается, даже есл не влезает содержимое :ООО//
    min-height: 650px;
  }

.container {
    max-width: 940px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 3%  0;
    display: flex;
    flex-direction: column;
    
    
}

.container__content-in-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.button {
    display: inline-block;
    background-color: $red;
    border-radius: rem(5px);
    padding: rem(8px) rem(17px);
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    transition: 300ms;
    &:hover {
        background-color: $dark-red;
    }
}

.section-title {
    font-family: 'Gagalin', sans-serif;
    font-size: rem(72px);
    color: $orange;
    margin-bottom: rem(40px);
    &_marg {
        &_small {
            margin-bottom: rem(15px);
        }
    }
    &_color {
        &_black {
            color: $black;
        }
        &_white {
            color: #fff;
        }
    }
    @include phones {
        font-size: 50px;
        line-height: 1.2;
    }
}

.fixed-menu {
    position: fixed;
    top: rem(100px);
    right: rem(30px);
    @include phones {
        right: rem(25px);
    }
}



.fixed-menu__link {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
    display: block;
    position: relative;
    
   
}

.fixed-menu__item {
    &_active {
        .fixed-menu__link {
            &:before {
                content: "";
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px #fff solid;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }
    }
}


.godown-btn {
    position: fixed;
    bottom: rem(15px);
    right: 50%; 
    transform: translate(50%, 0);
}

.godown-btn__icon {
    width: rem(27px);
    height: rem(27px);
    
}



.icon {
    &_color {
        &_red {
            fill: $red;
            
        }
        &_orange {
            fill: $orange;
        }
        &_green {
            fill: $green;
        }
        &_white {
            fill: #fff;
        }
    }
}

.overlay-container{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 150;
    
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    &_transp {
        background-color: rgba($black, 0.9);
    }
}

.popup {
    display: none;
}

.popup__content {
    background-color: #fff;
    width: 40%;
    height: auto;
    padding: 2%;
    border-radius: rem(5px);
    position: relative;
    @include tablets {
        width: 70%;
    }
    @include phones {
        width: 90%;
        padding: 5%;
    }
}

.popup__text {
    color: $black;
}

.popup__title {
    font-family: Gagalin;
    margin-bottom: rem(18px);
}

.popup__desc {
    font-size: rem(15px);
    margin-bottom: rem(15px);
}

.popup__close-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3vh;
    right: 3vh;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}