.header {
    display: flex;
    align-items: center;
    
}

.logo {
    width: rem(130px);

}

.header__btns {
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-right: rem(20px);
}

.nav__item {
    display: flex;
    align-items: center;
    &:before {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background: #fff;
        margin: 0 rem(15px);
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }

}