.team {
    background: url("../img/bg/bg-team.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__container {
    background: rgba($black, 0.9);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
        width: 100%;
        text-align: center;
    }


}

.team__content {
    width: 80%;

}