.about {
    background: url("../img/bg/bg-about.jpg") center center no-repeat;
    background-size: cover;
}

.about__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(10px);
    @include phones {
        flex-direction: column;

    }

}

.about__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones {
        flex-direction: row;
        width: 90%;
        margin-bottom: 30px;
    }
}

.about__pic {
    margin-bottom: rem(30px);
    @include phones {
        margin: 10px;
    }
}

.about__icon {
    height: rem(80px);
    width: rem(100px);
    @include sm_phones {
        height: rem(40px);
        width: rem(50px);
    }
    
}

.about__text {
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include phones {
        align-items: flex-start;
        text-align: left;
    }
}

.about__text-title {
    font-family: "Lifehack";
    font-size: rem(24px);
    line-height: 1.1;
    margin-bottom: rem(20px);
    @include sm_phones {
        margin-bottom: 0;
    }
}