@font-face {
    font-family: 'Gagalin';
    src: url('gagalin-regular-webfont.woff2') format('woff2'),
         url('gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  @font-face {
    font-family: 'Lifehack';
    src: url('lifehack_medium-webfont.woff2') format('woff2'),
         url('lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  } 