.form {
    display: flex;
    justify-content: space-between;
}

.form__column {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.form__row {
    display: flex;
    margin-bottom: 20px;
    &_margsmall {
        margin-bottom: 14px;
    }
}

.form__block {
    display: block;
    flex: 1;
    margin-right: 18px;
    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42;

    transition: 0.3s;
    &:focus {
        border: 2px solid $orange;
    }
    
}

.form__input--bigtext {
    height: 110px;
    resize: none;
    

}




.form__title {
    margin-bottom: 7px;
}

.form__controls {
    display: flex;
}

.form__controls-trigger, .form__ckeckbox-trigger {
    display: flex;
    align-items: center;
}

.form__radio-stylized, .form__checkbox-stylized, .form__trigger-title, .form__checkbox {
    margin-right: 18px;
}

.form__radio-stylized {
    border-width: 1px;
    border-color: $black;
    border-style: solid;
    border-radius: 50%;
    background: #fff;
    width: 17px;
    height: 17px;
    position: relative;
}

.form__radio:checked + .form__radio-stylized::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: $red;
    border-radius: 50%;
    
}



.form__checkbox-stylized {
    position: relative;
    border-width: 1px;
    border-color: $black;
    border-style: solid;
    background: #fff;
    width: 17px;
    height: 17px;
}


.form__checkbox:checked + .form__checkbox-stylized::before {
// 	content: <svg class="godown-btn__icon icon icon_color_white">
//     <use xlink: href="img/sprite/sprite.svg#checkbox" />
// </svg>";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	// background: $red;
    // border-radius: 50%;
    
}

.form__radio, .form__checkbox {
    display: none;
}

.form__submit {
    border: 0;
    margin-right: 20px;
}

.form__clear {
    border: 0;
    background: transparent;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42;
    color: #fff;
}

.submit-row {
    align-items: baseline;
}